<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262763248116-bmvnqvtb1qc7gmmlb6oodsmi7nol2i8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262763248116-bmvnqvtb1qc7gmmlb6oodsmi7nol2i8t</string>
	<key>API_KEY</key>
	<string>AIzaSyBikUDKVSQvll-JNOsB48L5EjetxYRGmO4</string>
	<key>GCM_SENDER_ID</key>
	<string>262763248116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>pap1-5fbe0</string>
	<key>STORAGE_BUCKET</key>
	<string>pap1-5fbe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262763248116:ios:c1a18b14bb138fb073e1a1</string>
</dict>
</plist>